<div class="container my-4 py-4">
    <div class="bg-dark text-light rounded shadow p-4">
        {{#if contentTitle}}<h1 class="h2 font-weight-bold mb-4">{{contentTitle}}</h1>{{/if}}
        {{#if content}}<div>{{{content}}}</div>{{/if}}
    </div>
</div>