{{> modals}}

{{> contentBox 
    contentTitle="About Us"
    content="Learn more about our library management system and our mission."
}}

<div class="container">
   <div class="row my-4">
            <div class="col-md-6">
                <h3>Our Mission</h3>
                <p>We aim to provide easy access to a wide range of books and resources, encouraging a love for reading and lifelong learning. Our library management system is designed to simplify borrowing and returning books for our community.</p>
            </div>
            <div class="col-md-6">
                <h3>Why Choose Us</h3>
                <p>Our system offers a user-friendly platform for managing books, making it easy for users to explore, borrow, and return books. We are committed to making knowledge accessible and to support local readers and book lovers.</p>
            </div>
        </div>

        <div class="text-center mt-5">
            <h4>Get Involved</h4>
            <p>Interested in donating books or supporting our mission? <a href="/books/donate">Donate a Book</a> today.</p>
        </div> 
</div>